<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prueba1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>430252DF1DE55F4300A18334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>430252F31DE55F4300A18334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>430252FE1DE55F4300A18334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
